span.published {
    text-align: center;
    min-width: 75%;
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: sub;
    font-weight: bolder;
    text-transform: uppercase;
}

span.archived {
    text-align: center;
    min-width: 75%;
    color: white;
    background-color: rgb(92, 92, 94);
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: sub;
    font-weight: bolder;
    text-transform: uppercase;
}

span.draft {
    text-align: center;
    min-width: 75%;
    color: white;
    background-color: goldenrod;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: sub;
    font-weight: bolder;
    text-transform: uppercase;
}

.toast {
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    max-width: 350px;
    font-size: .875rem;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .15);
    opacity: 0;
}

.toast:not(:last-child) {
    margin-bottom: .75rem
}

.toast.showing {
    opacity: 1
}

.toast.show {
    display: block;
    opacity: 1
}

.toast.hide {
    display: none
}

.toast-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.toast-body {
    padding: .75rem
}

.truncate-2 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* jumlah baris */
    overflow: hidden;
}

.truncate-2 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* jumlah baris */
    overflow: hidden;
}